@import "../../styles/index.scss";

.work_main {
  padding: 40px;
  background-color: #fff;

  .work_Aligment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    .work_text {
      h2 {
        font-size: 40px;
        font-weight: 800;
        line-height: 50px;
        margin-bottom: 10px;
        max-width: 700px;

        @include breakpoint("max-lg") {
          font-size: 30px;
          line-height: 40px;
        }
      }

      p {
        font-size: 26px;
        font-weight: 600;
        line-height: 36px;
      }

      .button {
        margin-top: 20px;

        button {
          padding: 12px 30px;
          background-color: #000;
          color: #fff;
          border-radius: 30px;
          border: 2px solid #000;
          transition: 0.5s ease-in-out all;

          &:hover {
            background-color: #fff;
            color: #000;
            border: 2px solid #000;
            transition: 0.5s ease-in-out all;
          }
        }
      }
    }
    .work_banner {
      max-width: 50%;
      img {
        max-width: 100%;
      }
    }
  }
}
