@import "../../styles/index.scss";
.support-main {
  padding: 40px;
  overflow-x: hidden;
  @include breakpoint("max-xs") {
    padding: 30px;
  }
  @include breakpoint("max-xs") {
    padding: 25px;
  }
  .support_main {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    .text {
      display: flex;
      justify-content: center;
      h3 {
        font-size: 26px;
        line-height: 36px;
        font-weight: 600;
      }
    }
    .support-aligment {
      display: flex;
      gap: 20px;
      margin-top: 10px;

      @media (max-width: 576px) {
        flex-direction: column;
        gap: 10px;
      }
      .support_query {
        display: flex;
        align-items: center;
        gap: 10px;

        p {
          margin: 0px;
          font-size: 16px;
          line-height: 26px;
          color: #555;
          @media (max-width: 576px) {
            font-size: 14px;
            line-height: 24px;
          }
        }
      }
    }
    .product_category {
      margin-top: 10px;
      label {
        color: #46b5d1;
        font-weight: 600;
      }

      select {
        width: 100%;
        height: 30px;
        outline: none;
        border-radius: 5px;
        border: 1px solid #aaa;

        img {
          width: 40px;
        }

        &::placeholder {
          font-size: 14px;
          color: #aaa;
        }
      }
      p {
        font-size: 16px;
        line-height: 26px;
        color: #555;

        @media (max-width: 576px) {
          font-size: 14px;
          line-height: 24px;
        }
      }
    }
    .otherInput {
      margin-top: 10px;
      label {
        color: #46b5d1;
        font-weight: 600;
      }
      input {
        width: 100%;
        height: 30px;
        outline: none;
        border-radius: 5px;
        border: 1px solid #aaa;

        &::placeholder {
          padding-left: 10px;
          color: #aaa;
        }
      }
      p {
        color: #555;
      }
    }
    .registerForm {
      margin-top: 20px;
      h2 {
        font-size: 28px;
        line-height: 38px;
        font-weight: 600;
        text-align: center;
        color: #46b5d1;
      }
      .text {
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        @media (max-width: 576px) {
          font-size: 14px;
          line-height: 24px;
        }
      }
      form {
        .form_aligment {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;

          @media (max-width: 576px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 10px;
          }
          .aligment {
            margin-top: 20px;
            label {
              color: #46b5d1;
              font-weight: 600;
            }
            input,
            select {
              width: 100%;
              height: 30px;
              border: 1px solid #aaa;
            }
            p {
              font-size: 14px;
              line-height: 24px;
              text-align: left;
              color: #555;
            }
          }
        }
        label {
          color: #46b5d1;
          font-weight: 600;
        }
        textarea {
          width: 100%;
          height: 100px;
          border: 1px solid #aaa;
        }
      }
      p {
        font-size: 16px;
        line-height: 26px;
        margin-top: 20px;
        font-weight: 600;
        color: #555;
        @media (max-width: 576px) {
          font-size: 14px;
          line-height: 24px;
        }
      }
      span {
        display: block;
        font-size: 14px;
        line-height: 24px;
        color: #555;
      }
      .aligments {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 10px;

        span {
          display: block;
          font-size: 16px;
          line-height: 26px;
          font-weight: 400;
          color: #555;
        }
      }
      p {
        margin: 10px 0px;
        color: #555;
      }
      .button {
        text-align: center;
        margin-top: 10px;
        button {
          padding: 10px 25px;
          background-color: #46b5d1;
          color: #fff;
          border: none;
          transition: 0.5s all ease-in-out;

          &:hover {
            background-color: #38aecc;
            color: #fff;
            transition: 0.5s all ease-in-out;
            border: none;
          }
        }
      }
    }
  }
}
