.header_aligment {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #fff;
  box-shadow: 0px 0px 5px #000;
  .navbar {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar-brand {
      p {
        font-size: 20px;
        margin: 0px;
      }
    }
    .items {
      .me-auto {
        display: flex;
        justify-content: end;
      }
    }
  }
}
